.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  overflow: hidden;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bold {
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}