:root {
  --background: #fcfcfc;
  --foreground: #171717;
  --toastify-color-success: mediumseagreen;
  --toastify-color-error: background-color:rgb(221, 54, 54);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: mediumseagreen;
  position: relative;
  align-items: center;
}

.navbar-inner-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  background-color: mediumseagreen;
  position: relative;
}

.navbar-links {
  display: none;
}

.navbar-links.navbar-open{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  left: 0;
  top: 99%;
  width: 100%;
  background: inherit;
}

.navbar-link {
  padding: 0.75rem 0.75rem 0.75rem 2rem;
  font-weight: bold;
}

.navbar-toggler {
  background-color: transparent;
  border: none;
  width: 36px;
  height: 36px;
}

.main-content {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  max-width: 640px;
}

.action-button {
  padding: 0.5rem;
  background-color: mediumseagreen;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.875rem;
  cursor: pointer;
}

.action-button:active, 
.action-button:hover {
  background-color: rgba(60, 179, 113,.7);
}

.destructive-button {
  background-color:rgb(221, 54, 54);
}

.destructive-button:active,
.destructive-button:hover {
  background-color:rgba(221, 54, 54, .7);
}

.logo {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.main-link {
  display: flex;
  background-color: mediumseagreen;
  padding: 1rem;
  border-radius: 5px;
  justify-content: center;
  font-weight: bold;
}

.listitem {
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.175rem;
  border-radius: 5px;
}

.listitem:active,
.listitem:hover {
  background-color: #dfffed;
}

.searchbox {
  padding: 0.5rem;
  border-radius: 5px;
  border-color: black;
  width: 100%;
}

.pageheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.inputgroup {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.inputlabel {
  font-weight: bold;
  flex-grow: 1;
}

.inputcontrol {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid black;
  flex-grow: 1;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 768px) {
  .navbar-links, .navbar-links.navbar-open {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    position: unset;
    left: unset;
    top: unset;
    width: unset;
    background: inherit;
  }

  .navbar-link {
    padding-block: 0.5rem;
    font-weight: bold;
  }

  .navbar-toggler {
    display: none;
  }

  .navbar-logo-container {
    display: flex;
    align-items: center;
  }
}

@media (prefers-color-scheme: dark) {
  .listitem:active,
  .listitem:hover {
    background-color: #555555;
  }
}